html {
  font-size: 10px;
}
body {
  color: white;
  font-size: 1.4rem;
  background-color: #545b62;
}

/* header component */
header {
  margin-bottom: 1.5rem;
}
header nav {
  height: 7.5rem;
}
header .weight-not-provided {
  background-color: #7287d8;
  padding: 6px;
  border-radius: 4px;
  margin-left: 5px;
}

header nav .weight-infos-btn {
  border: 1px solid white;
  border-radius: 5rem;
  padding: 0.5rem 0.6rem;
  margin-right: 1rem;
}

header nav .fa-plus-circle {
  font-size: 2.8rem;
  position: relative;
  top: 0.6rem;
}
.weight-infos-list {
  position: absolute;
  top: 75px;
  width: 120px;
  z-index: 53;
  background-color: #545b62;
}

.weight-infos-list li {
  padding: 2px;
  border-bottom: 1px solid black;
  background-color: #6090a2;
}
/* form */
form div input {
  padding: 1rem;
  background-color: #343a40;
  border: none;
  color: white;
}
form div input[type='submit'] {
  width: 12rem;
  background-color: #33b5e5;
  border: 1px solid;
  margin: 10px auto;
}
form div input:first-child {
  width: 100%;
  margin-bottom: 0.5rem;
}

/* filter-box */
.filter-box .list-group-item {
  background-color: #343a40;
}
/* Weight-infos */

.weight-infos-box .list-group-item {
  background-color: #343a40;
}

/* Modal */
.modal-both-cases {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.modal-red {
  background-color: #b48085;
  border: 2px solid white;
}
.modal-green {
  background-color: #779277;
}

/* transition for table*/

.table-info-enter {
  opacity: 0.01;
}

.table-info-enter.table-info-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.table-info-exit {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

/* transition for weight table*/
.weight-table-appear {
  transform: scale(0.5);
}

.weight-table-appear-done {
  transform: scale(1);
  transition: transform 100ms ease-in;
}

/* Weight table */
.weight-filter-limitation {
  padding-left: 2px;
  background-color: #7287d8;
}
.show-date-box {
  width: 146px;
  background-color: #343a40;
  height: 21px;
  text-align: center;
  border-radius: 5px;
}
